In [2]:
for i in 1:4 
    println(i^2)
end

1
4
9
16

In [3]:
#error
println(i)

LoadError: UndefVarError: i not defined

In [4]:
for i in 1:4 
    println("Another iteration cycle")
end

Another iteration cycle
Another iteration cycle
Another iteration cycle
Another iteration cycle

In [5]:
for j = 1:4
    println(j)
end

1
2
3
4

In [6]:
for name in ["Julia", "R", "Python", "C"]
    println(name)
end

Julia
R
Python
C

In [7]:
arr = rand(5:25, 5)

5-element Vector{Int64}:
 22
 13
  7
  6
 15

In [8]:
for i in 1:length(arr)
    println("$i. Element is $(arr[i]).")
end

1. Element is 22.
2. Element is 13.
3. Element is 7.
4. Element is 6.
5. Element is 15.

In [9]:
for (index, value) in enumerate(arr)
    println("The $(index). element is $(value).")
end

The 1. element is 22.
The 2. element is 13.
The 3. element is 7.
The 4. element is 6.
The 5. element is 15.

In [10]:
mat = rand(14 : 44, (3,2))

3Ã—2 Matrix{Int64}:
 18  36
 19  32
 20  25

In [12]:
for row in 1:size(mat, 1)
    for col in 1:size(mat, 2)
        println("Row: $row, Column: $col, Value: $(mat[row, col])")
    end
end

Row: 1, Column: 1, Value: 18
Row: 1, Column: 2, Value: 36
Row: 2, Column: 1, Value: 19
Row: 2, Column: 2, Value: 32
Row: 3, Column: 1, Value: 20
Row: 3, Column: 2, Value: 25

In [16]:
for row in 1:size(mat, 1), col in 1:size(mat, 2)
    println("Row: $row, Column: $col, Value: $(mat[row, col])")
end

Row: 1, Column: 1, Value: 18
Row: 1, Column: 2, Value: 36
Row: 2, Column: 1, Value: 19
Row: 2, Column: 2, Value: 32
Row: 3, Column: 1, Value: 20
Row: 3, Column: 2, Value: 25

In [18]:
for row in 1:6
    for col in 1:4
        print((row, col))
    end
    println()
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [19]:
for row in 1:6, col in 1:4
    print((row, col))
    if col == 4
        println()
    end
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [20]:
names = ["Albert", "Marie", "Isaac", "Rosalind", "Richard"]
surnames = ["Einstein", "Curie", "Newton", "Franklin", "Feynman"]
birthyears = [1879, 1867, 1643, 1918];

Zip() function runs multiple iterators at the same time, until any of them is exhausted. The value type of the zip iterator is a tuple of values of its subiterators.

In [21]:
for (name,surname,year) in zip(names, surnames, birthyears)
    println((name, surname,year))
end

("Albert", "Einstein", 1879)
("Marie", "Curie", 1867)
("Isaac", "Newton", 1643)
("Rosalind", "Franklin", 1918)

In [22]:
d = Dict("a" => 10, "b" => 20, "c" => 30, "d" => 40)

Dict{String, Int64} with 4 entries:
  "c" => 30
  "b" => 20
  "a" => 10
  "d" => 40

In [23]:
for(key, val) in d
    println("Key is: $key, Value is: $val")
end

Key is: c, Value is: 30
Key is: b, Value is: 20
Key is: a, Value is: 10
Key is: d, Value is: 40

In [24]:
for item in d 
    println("Key is $(item.first), Value is: $(item.second)")
end

Key is c, Value is: 30
Key is b, Value is: 20
Key is a, Value is: 10
Key is d, Value is: 40

In [26]:
str = "Julia language"
for c in str
    print("$c|")         #PRINT NOT println
end

J|u|l|i|a| |l|a|n|g|u|a|g|e|

In [27]:
file = "inputfile.txt"

for line in eachline(file)
    println(line)
end

For loop is the most common type of loop.
The other type of loop is while loop.
Loops are very cool.

In [32]:
arr = rand(-1_000_000: 1_000_000, 100);

In [33]:
maxnum = typemin(Int64)
for num in arr 
    if num > maxnum
        maxnum = num 
    end
end 
println(maxnum)

977500

In [34]:
sum = 0 
n = 0 
for num = arr
    sum += num
    n += 1
end
average = sum / n 
println(average)

101542.66